{
    "name": "semver-charts-helm",
    "branches": ["dev", {name: 'beta', prerelease: true}, {name: 'alpha', prerelease: true}],
    "plugins": 
    [
      [
        "semantic-release-helm",
        {
          chartPath: '.',
        }
      ]
    ]
  }