{
    "name": "semver-charts-helm",
    "branches": [
      "dev",
      ["name": "alpha",
      {
        "prerelease": "true",
      }]
      ],
    "plugins": 
    [
      [
        "semantic-release-helm",
        {
          "chartPath": '.',
        }
      ]
    ]
  }