{
    "name": "semver-charts-helm",
    "branches": [
      "dev",
      "alpha"{
        prerelease: true,
      }
      ],
    "plugins": 
    [
      [
        "semantic-release-helm",
        {
          chartPath: '.',
        }
      ]
    ]
  }